footer{
    background: $colorFondo;
    padding: 20px;
    display: block;
    li{
    display: inline-block;
        li a{
        color:rgb(214, 209, 209) ;
        text-decoration: none;
        padding: 30px 30px;
            li:hover{
            background-color:rgb(78, 4, 4);
            }       
        }
    }
}


