nav{
    margin: 0;
    padding: 30px 0;
    text-align: end;
    text-transform: uppercase;
    font-weight: 700;
    li{
        display: inline-block;

        a{
            color: rgb(214, 209, 209);
            
            padding: 30px 20px;
            text{
                text-decoration: none;
                
            &:hover{
                background-color: rgb(53, 11, 11)
                }
            }
        }
    }
}